<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Fabiano Dolzanes</a>
  <ul>
      <li>
        <%= link_to 'Sobre', about_path %>
      </li>
      <li>
        <%= link_to 'Contato', contacts_path %>
      </li>
    </ul>
</nav>

